.navigation {
  .top-nav {
    background: $light;
    padding: 20px 0;
    .my-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__infos {
      display: flex;
      gap: 25px;
      .currency {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
        @include font(14, 19, 600);
        //   &__title {
        //     color: $mutedColor;
        //   }
        &__items {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 20px;
          //  color: $dark;
          .item {
            display: flex;
            align-items: center;
            gap: 7px;
            span {
              display: block;
              transform: translateY(-5px);
              border: 6px solid transparent;
              &.high {
                border-bottom-color: $yellow;
              }
              &.low {
                border-bottom-color: $red;
              }
            }
          }
        }
      }
    }
    &__options {
      display: flex;
      align-items: center;
      gap: 25px;
      &--links {
        display: flex;
        align-items: center;
        gap: 30px;
        a {
          color: $mutedColor;
          @include font(16, 22, 400);
          &:hover,
          &.nuxt-link-exact-active.nuxt-link-active {
            color: $dark;
          }
        }
      }
      .v-list {
        .v-list-item {
          .nuxt-link {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
      .lang {
        color: $dark;
      }
    }
  }
  .main-nav {
    padding: 20px 0;
    background: $secondary;
    .wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }
    .logo {
      margin-right: 40px;
    }
    &__links {
      justify-self: flex-start;
      display: flex;
      align-items: center;
      gap: 30px;
      a {
        @include font(16, 22, 600);
        color: #806c21;
        &:hover {
          color: $dark;
        }
        &.nuxt-link-exact-active.nuxt-link-active {
          color: $dark;
        }
      }
    }
    .search {
      justify-self: flex-end;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
    .v-app-bar__nav-icon {
      .v-btn__content {
        .v-icon {
          font-weight: 900;
          font-size: 30px;
        }
      }
    }
  }
  .mobile-nav-options {
    .currency {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;
      width: 100%;
      @include font(14, 19, 600);
      @include media(600px) {
        justify-content: center;
        padding: 20px 0;
      }
      &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .item {
          display: flex;
          align-items: center;
          gap: 7px;
          span {
            display: block;
            transform: translateY(-5px);
            border: 6px solid transparent;
            &.high {
              border-bottom-color: $yellow;
            }
            &.low {
              border-bottom-color: $red;
            }
          }
        }
      }
    }
  }
  @include media(960px) {
    .main-nav {
      padding: 20px 0;
      background: $secondary;
      .wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
      }
      .logo {
        margin-right: 0px;
      }
      &__links {
        justify-self: flex-start;
        display: flex;
        align-items: center;
        gap: 30px;
        a {
          @include font(16, 22, 600);
          color: #806c21;
          &:hover {
            color: $dark;
          }
          &.nuxt-link-exact-active.nuxt-link-active {
            color: $dark;
          }
        }
      }
      .search {
        justify-self: flex-end;
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 20px;
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
      .v-app-bar__nav-icon {
        .v-btn__content {
          .v-icon {
            font-weight: 900;
            font-size: 30px;
          }
        }
      }
    }
  }
}
